#cab{
    background-color: beige;
    color: #f3149d;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

#acerca{
    border: 1px black solid;
    margin-bottom: 20px;
     padding: 10px;
     background-color: beige;

}
#habilidades{
    text-align: center;
    border: 1px rgb(184, 66, 148) solid;
      margin-bottom: 20px;
      padding-left: 10px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: black;
     
}
.lista{ border: 1px solid black;
display: inline;
padding: 5px; }

#empresas{
    border: 1px rgb(184, 66, 148) solid;
    margin-bottom: 20px;
    padding-left: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
#proyecto{
    border: 1px rgb(184, 66, 148) solid;
     margin-bottom: 20px;
     padding-left: 10px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
#contactos{
    border: 1px rgb(184, 66, 148) solid;
     margin-bottom: 20px;
     padding-left: 10px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


