#cab{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

#acerca{
    border: 1px black solid;
    margin-bottom: 20px;
     padding: 10px;
     background-color: beige;

}
#ver{
    border: 1px black solid;
     margin-bottom: 20px;
     
}
#si{
    border: 1px black solid;
    margin-bottom: 20px;
}
#ok{
    border: 1px black solid;
    margin-bottom: 20px;
}
#no{
    border: 1px black solid;
    margin-bottom: 20px;
}


